In [1]:
import os
import sys

current_dir = os.getcwd()
sys.path.append(os.path.abspath(os.path.join(os.path.join(current_dir), '..', 'main')))

from datasets import dataloader, process
from feature_engineering.fe import data_preprocessing
from algorithm import MDRSmapClassifier

I. Load data

In [2]:
##############################
TICKER = 2330
TP = 10
START_PRED_DATE = '2023-07-01'
BACKTRADE_END_DATE = '2023-10-31'
##############################

In [3]:
ticker_data = dataloader.get_ticker_data(ticker=TICKER, after_date='2020-11-17')
ticker_data = process.processing(ticker_data)

II. Feature enineering

In [4]:
origi_data, Library, Prediction, actual_start_pred_date = data_preprocessing(ticker_data=ticker_data, TP=TP, start_pred_date=START_PRED_DATE)

III. PipeLine prediction

In [5]:
##############################
TARGET = f'y_{TP}'
KN = 100
EMAX = 10
MAXLAG = 10
THETA_SEQ = [1,2,4,7,11,16,22]
VALID_INTERVAL = 60
##############################

In [6]:
parameter = {'pred_type': 'backtrade',
             'backtrade_end_date': BACKTRADE_END_DATE,
             'actual_start_pred_date': actual_start_pred_date,
             'origi_data': origi_data,
             'Library': Library,
             'Prediction': Prediction, 
             'target': TARGET, 
             'valid_interval': VALID_INTERVAL, 
             'tp': TP, 
             'ticker': TICKER, 
             'E_max': EMAX, 
             'max_lag': MAXLAG, 
             'kn': KN, 
             'theta_seq': THETA_SEQ}

result = MDRSmapClassifier.pipeline(**parameter)

optimal embedding dimenson has been found: 1

now applying CCM feature selection...
now applying Muti-view random search...
now applying S-map...
now applying SAGA logistic(elastic-net)...


 2330 ACC: 0.7710843373493976

In [7]:
result

         Date  Observations Predictions
0  2023-07-03             0         0.0
1  2023-07-04             0         0.0
2  2023-07-05             0         0.0
3  2023-07-06             1         0.0
4  2023-07-07             1         0.0
..        ...           ...         ...
78 2023-10-25             0         0.0
79 2023-10-26             1         0.0
80 2023-10-27             1         0.0
81 2023-10-30             1         0.0
82 2023-10-31             1         0.0

[83 rows x 3 columns]

In [8]:
# test

Library

,Date,open,high,low,close,volume,financing,fi,ii,di,rp,capital,EMA9,EMA12,EMA26,MACD,Signal,RSI14,y_10
0,2021-01-18,608.0,608.0,594.0,607.0,50389,162.0,-2737.0,669.0,519,-2770,9.5375,585.029972,576.960755,553.624377,23.336378,17.796748,100.000000,1.0
1,2021-01-19,618.0,632.0,613.0,627.0,52947,1422.0,8113.0,-106.0,1084,3930,10.2178,593.424343,584.663287,559.235389,25.427898,19.340779,100.000000,1.0
2,2021-01-20,633.0,650.0,631.0,647.0,95484,-1012.0,-3158.0,-191.0,-652,-6842,14.2949,604.139848,594.257963,565.930684,28.327279,21.154811,100.000000,1.0
3,2021-01-21,640.0,679.0,640.0,673.0,97590,2692.0,-15947.0,-1369.0,1380,-14390,17.7760,617.912262,606.376839,574.080641,32.296198,23.399652,100.000000,1.0
4,2021-01-22,649.0,665.0,649.0,649.0,134238,2444.0,-60996.0,1456.0,2075,-54807,21.2911,624.129948,612.936408,579.771756,33.164652,25.364249,100.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,2023-06-26,576.0,578.0,574.0,574.0,29870,164.0,-4194.0,-3.0,314,-2859,5.6543,579.105659,576.716989,562.864922,13.852067,15.124979,50.802228,1.0
589,2023-06-27,570.0,575.0,569.0,572.0,22447,-71.0,-3850.0,-2006.0,501,-168,4.2795,577.684527,575.991298,563.541594,12.449704,14.589924,45.390598,1.0
590,2023-06-28,579.0,579.0,571.0,574.0,18685,-113.0,-3437.0,-93.0,378,-1260,4.0474,576.947622,575.684944,564.316291,11.368654,13.945670,41.019391,1.0
591,2023-06-29,578.0,580.0,570.0,573.0,18046,28.0,-1355.0,-121.0,1407,-434,3.7922,576.158098,575.271876,564.959529,10.312347,13.219005,34.887970,0.0
592,2023-06-30,570.0,576.0,568.0,576.0,33831,117.0,-2573.0,38737.0,649,-1545,6.1965,576.126478,575.383895,565.777341,9.606554,12.496515,34.306232,0.0